{{ define "main" }}
{{ "<!-- Main -->" | safeHTML }}
		<section id="main" class="container">
			<header>
				<h2>{{ .Title | title }}</h2>
				{{ if (and (.Site.Params.Podcast.itunes) (.Site.Params.Podcast.feed)) }}
					<ul class="icons">
						<li>
							<a href="https://subscribeonandroid.com/{{ index (split .Site.Params.Podcast.feed "://") 1 }}" target="_blank"><i class="icon fab fa-android"><span class="label">Subscribe on Android</span></i>Subscribe on Android</a>
						</li>
						<li>
							<a href="{{ .Site.Params.Podcast.iTunes }}" target="_blank"><i class="icon fab fa-apple"><span class="label">Subscribe on iTunes</span></i>Subscribe in iTunes</a>
						</li>
					</ul>
				{{ end }}
			</header>
			{{ partial "listbody" . }}
	</section>
{{ end }}
