{{ partial "header" . }}
{{ partial "nav" . }}

			{{ "<!-- Main -->" | safeHTML }}
				<section id="main" class="container">
					<header>
						<h2>{{ .Params.title }}</h2>
						{{ with .Params.passage }}
							<p>{{ . }}</p>
						{{ end }}
					</header>
					<div class="box">
						{{ if .Params.feature_image }}
							<span class="image featured"><img src="{{ .Params.feature_image }}" alt=""></span>
						{{ end }}
            {{ with .Params.audio }}
							{{ $audio_name_arr := split . "." }}
							{{ $audio_type := index $audio_name_arr 1 }}
              	<audio controls>
									<source src="{{ . }}" preload="auto" type="{{ $audio_type }}">
                	Your browser doesn't support embedded audio.
              	</audio>
            {{ end }} {{/* if .audio */}}
						{{ .Content }}
						{{ with .Params.audio }}
							<p><a href="{{ . }}" class="button special small" download><i class="icon fas fa-download"></i>Download</a></p>
						{{ end }} {{/* with */}}
						<p> Preacher:
						{{ range $index, $key := .Params.preachers }}
							{{ if $index }}, {{ end }}
							{{ if gt (len $key) 0 }}
								<a href="/preachers/{{ $key | urlize }}/">{{ $key }}</a>
							{{ end }} {{/* if */}}
						{{ end }} {{/* range */}}
						</p>
						<p>Topics:
							{{ range $index, $key:= .Params.tags }}
								{{ if $index }}, {{ end }}
								{{ if gt (len $key) 0 }}
						  		<a href="/tags/{{$key | urlize }}/">#{{ $key }}</a>
								{{ end }} {{/* if gt len */}}
							{{ end }} {{/* range */}}
						</p>
						</div>
					</div>
				</section>
{{ partial "footer" . }}
