{{ partial "header" . }}
{{ partial "nav" . }}

			{{ "<!-- Main -->" | safeHTML }}
				<section id="main" class="container">
					<header>
						<h2>{{ .Params.title }}</h2>
						{{ with .Params.passage }}
							<p>{{ . }}</p>
						{{ end }}
					</header>
					<div class="box">
						{{ with .Params.audio }}
							{{ $audio_name_arr := split . "." }}
							{{ $audio_type := index $audio_name_arr (sub (len $audio_name_arr) 1) }}
							<ul class="actions small">
								<li>
								<audio id="player" controls>
									<source src="{{ . }}" preload="auto" type="audio/{{ $audio_type }}">
									Your browser doesn't support embedded audio.
								</audio>
							</li>
							<li>
								<a href="{{ . }}" class="button alt small" download><i class="icon fas fa-download"></i>Download</a>
							</li>
						</ul>
						{{ end }} {{/* if .audio */}}
						<div class="row">
							<div class="6u 12u(mobilep)">
							{{ with .Params.images }}
								<span class="image fit"><img src="{{ index . 0 | absURL }}" alt=""></span>
							{{ end }}
							</div>
							<div class="6u 12u(mobilep)">
							{{ .Content }}
							{{ with .Params.preachers }}
								<p>Preacher: <a href="/preachers/{{ . | urlize }}/">{{ . }}</a></p>
							{{ end }} {{/* end with preachers */}}
							{{ if .Params.series }}
								<p> Series:
									{{ range $index, $key := .Params.series }}
									{{ if $index }}, {{ end }}
									{{ if gt (len $key) 0 }}
										<a href="/series/{{ $key | urlize }}/">{{ $key }}</a>
									{{ end }} {{/* if */}}
									{{ end }} {{/* range */}}
								</p>
							{{ end }} {{/* end if series */}}
							{{ if .Params.tags }}
								<p>Topics:
									{{ range $index, $key:= .Params.tags }}
										{{ if $index }}, {{ end }}
										{{ if gt (len $key) 0 }}
							  			<a href="/tags/{{$key | urlize }}/">#{{ $key }}</a>
											{{ end }} {{/* if gt len */}}
										{{ end }} {{/* range */}}
								</p>
							{{ end }} {{/* end if tags */}}
							</div>
						</div>
					</div>
				</section>
{{ partial "footer" . }}
