{{ define "main" }}

			{{ "<!-- Main -->" | safeHTML }}
				<section id="main" class="container">
					<header>
						<h2>{{ .Params.title }}</h2>
						{{ with .Params.subtitle }}
							<p>{{ . }}</p>
						{{ end }}
					</header>
					<div class="box">
						{{ with .Params.images }}
							<span class="image featured"><img src="{{ index . 0 | absURL }}" alt=""></span>
						{{ end }}
						{{ .Content }}
						{{ if .Params.tags }}
							<p>Tags:
								{{ range $index, $key:= .Params.tags }}
									{{ if $index }}, {{ end }}
									{{ if gt (len $key) 0 }}
							  		<a href="/tags/{{$key | urlize }}/">#{{ $key }}</a>
									{{ end }} {{/* if gt len */}}
								{{ end }} {{/* range */}}
						</p>
						{{ end }} {{/* if tags */}}
						</div>
					</div>
				</section>
{{ end }}
