{{ "<!-- Footer -->" | safeHTML}}
  <footer id="footer">
    <ul class="icons">
      {{ range .Site.Params.links }}
      {{ $pack := or .icon_pack "fa" }}
        <li>
          <a href="{{ .link | safeURL }}" target="_blank" ><i class="icon {{ $pack }} {{ .icon }}"><span class="label">{{ .service }}</span></i></a>
        </li>
      {{ end }} {{/* range */}}
    </ul>
    <ul class="copyright">
      {{- range .Site.Params.Footer.copyright -}}
      <li>{{ . | markdownify }}</li>
      {{- end -}}
    </ul>
  </footer>

</div>

{{ $js := .Site.Data.libs.js }}

{{ "<!-- Remote Scripts -->" | safeHTML }}
{{ printf "<script src=\"//cdnjs.cloudflare.com/ajax/libs/jquery/%s/jquery.min.js\" integrity=\"%s\" crossorigin=\"anonymous\"></script>" $js.jQuery.version $js.jQuery.integrity | safeHTML }}
{{ printf "<script src=\"//cdnjs.cloudflare.com/ajax/libs/jquery.dropotron/%s/jquery.dropotron.min.js\" integrity=\"%s\" crossorigin=\"anonymous\"></script>" $js.dropotron.version $js.dropotron.integrity | safeHTML }}
{{ printf "<script src=\"//cdnjs.cloudflare.com/ajax/libs/skel/%s/skel.min.js\" integrity=\"%s\" crossorigin=\"anonymous\"></script>" $js.skel.version $js.skel.integrity | safeHTML }}
{{ printf "<script src=\"//unpkg.com/leaflet@%s/dist/leaflet.js\" integrity=\"%s\" crossorigin=\"anonymous\"></script>" $js.leaflet.version $js.leaflet.integrity | safeHTML }}
{{ if $.IsPage }}{{ printf "<script src=\"//cdn.plyr.io/%s/plyr.polyfilled.js\" integrity=\"%s\" crossorigin=\"anonymous\"></script>" $js.plyr.version $js.plyr.integrity | safeHTML }}{{ end }}
{{ if .Site.GoogleAnalytics }}{{ template "_internal/google_analytics_async.html" . }}{{ end }}
{{ if .Site.Params.instant_page }}{{ printf "<script src=\"//instant.page/%s\" type=\"module\" integrity=\"%s\" crossorigin=\"anonymous\"></script>" $js.instantpage.version $js.instantpage.integrity | safeHTML }}{{ end }}
{{ "<!-- Local Scripts -->" | safeHTML }}
{{ $util := resources.Get "js/util.js" | minify | fingerprint }}
{{ $scrollgress := resources.Get "js/jquery.scrollgress.min.js" | minify | fingerprint }}
{{ $bible := resources.Get "js/reftagger.js" | minify | fingerprint }}
{{ $ie := resources.Get "js/ie/respond.min.js" | minify | fingerprint }}
{{ $main := resources.Get "js/main.js" | minify | fingerprint }}
{{ $maps := resources.Get "/js/osmaps.init.js" | minify | fingerprint }}
{{ $plyr := resources.Get "/js/plyr.init.js" | minify | fingerprint }}
<script src="{{ $util.RelPermalink }}" integrity="{{ $util.Data.Integrity }}" crossorigin="anonymous"></script>
<script src="{{ $scrollgress.RelPermalink }}" integrity="{{ $scrollgress.Data.Integrity }}" crossorigin="anonymous"></script>
{{ if .Site.Params.bible_popups }}<script src="{{ $bible.RelPermalink }}" integrity="{{ $bible.Data.Integrity }}" crossorigin="anonymous"></script>{{ end }}
{{ `<!--[if lte IE 8]><script src=" {{ $ie.RelPermalink }} "></script><![endif]-->` | safeHTML}}
<script src="{{ $main.RelPermalink }}" integrity="{{ $main.Data.Integrity }}" crossorigin="anonymous"></script>
<script src="{{ $maps.RelPermalink }}" integrity="{{ $maps.Data.Integrity }}" crossorigin="anonymous"></script>
<script src="{{ $plyr.RelPermalink }}" integrity="{{ $plyr.Data.Integrity }}" crossorigin="anonymous"></script>
</body>
</html>
