<body {{ if .IsHome }} class="landing" {{ end }}>
  <div id="page-wrapper">
    <header id="header" {{ if .IsHome }} class="alt" {{ end }} >
      <h1><a href="/">{{ .Site.Params.title }}</h1>
      <nav id="nav">
        <ul>
          <li><a href="/">Home</a></li>
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li class="{{ if $currentPage.HasMenuCurrent "main" . }}active{{ end }}">
                    <a href="#" class="icon fa-angle-down">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
                <ul class="sub-menu">
                    {{ range .Children }}
                        <li class="{{ if $currentPage.IsMenuCurrent "main" . }}active{{ end }}">
                            <a href="{{ .URL }}">{{ .Name }}</a>
                        </li>
                    {{ end }}
                </ul>
            {{ else }}
                <li>
                    <a href="{{ .URL }}">
                        {{ .Pre }}
                        <span>{{ .Name }}</span>
                    </a>
                </li>
            {{ end }}
        {{ end }}
          <li>
            <a href="#" class="icon fa-angle-down">Layouts</a>
            <ul>
              <li><a href="contact">Contact</a></li>
              <li><a href="elements">Elements</a></li>
              <li>
                <a href="#">Submenu</a>
                <ul>
                  <li><a href="#">Option One</a></li>
                  <li><a href="#">Option Two</a></li>
                  <li><a href="#">Option Three</a></li>
                  <li><a href="#">Option Four</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="#" class="button">Sign Up</a></li>
        </ul>
      </nav>
    </header>
